<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сбросьте пароль</title>
</head>
<body>
    <h2>Сбросьте свой пароль</h2>
    <p>Введите свой адрес электронной почты, и мы отправим вам электронное письмо с инструкциями по сбросу вашего пароля.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить электронное письмо для сброса пароля</button>
    </form>
</body>
</html>