<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Library</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1>Local Library</h1>
    </header>

    <div class="navigation-buttons">
        <a href="{% url 'index' %}" class="btn">Домашняя страница</a>
        <a href="{% url 'book_list' %}" class="btn">Все книги</a>
        <a href="{% url 'authors' %}" class="btn">Все авторы</a>
    </div>

    <div class="sidebar-nav">
        {% if user.is_authenticated %}
            <p>Пользователь: {{ user.get_username }}</p>
            <ul>
                <li><a href="{% url 'my_borrowed' %}">Мои взятые книги</a></li>
                <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link">Выйти</button>
                    </form>
                </li>
            </ul>

        {% endif %}
    </div>

    {% block content %}
    {% endblock %}

    <footer>
        <p>© 2024 Local Library</p>
    </footer>
</body>
</html>
