{% extends "base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/book_list.css' %}">
  {% if perms.catalog.add_book %}
    <div class="add-book-button">
      <a href="{% url 'book_create' %}" class="btn">Добавить книгу</a>
    </div>
  {% endif %}
  <h1>Список книг</h1>

  {% if book_list %}
    <ul>
      {% for book in book_list %}
        <li>
          <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a>
        </li>
      {% endfor %}
    </ul>

    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
          {% endif %}

          <span class="page-current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  {% else %}
    <p>Нет доступных книг.</p>
  {% endif %}
{% endblock %}
