{% extends "base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
  <script src="{% static 'js/book_detail.js' %}"></script>
  {% if perms.catalog.delete_book %}
    <div class="delete-book-button text-center">
      {% if perms.catalog.delete_book %}
      <div class="delete-book-button text-center">
        <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">Удалить книгу</a>
      </div>
      {% endif %}

    </div>
  {% endif %}
  <h1>{{ book.title }}</h1>

  <p><strong>Автор:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
  <p><strong>Краткое содержание:</strong> {{ book.description }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Язык:</strong> {{ book.language }}</p>
  <p><strong>Жанр:</strong> {{ book.genre.all|join:", " }}</p>

  {% if user.is_authenticated %}
    {% if user.beloved_book and user.beloved_book.book == book %}
        <p class="text-success mt-2">Эта книга уже ваша любимая!</p>
    {% else %}
        <form method="post" action="{% url 'add_beloved_book' book.pk %}" id="beloved-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" onclick="return confirmBelovedChange(event)">
                Добавить в любимые
            </button>
        </form>
    {% endif %}
  {% endif %}

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  <div>
    <h4>Копии</h4>

    {% for copy in book.bookinstance_set.all %}
      <hr />
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Подлежит возврату:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Отпечаток:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>

      {% if copy.status == 'a' %}
        <form action="{% url 'borrow_book' copy.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Взять книгу</button>
        </form>
      {% endif %}
    {% endfor %}
  </div>



{% endblock %}
