body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.user-info {
    text-align: center;
    margin-top: 10px;
}

.user-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.user-info .btn-link {
    background-color: transparent;
    color: #f39c12;
    font-size: 1.1rem;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}

.user-info .btn-link:hover {
    color: #e74c3c;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

#logout-form {
    display: inline;
}



.sidebar-nav p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li {
    margin-bottom: 15px;
}

.sidebar-nav ul li form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.sidebar-nav ul li button {
    background-color: transparent;
    color: #f39c12;
    font-size: 1.1rem;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.sidebar-nav ul li button:hover {
    color: #e74c3c;
    transform: translateY(-2px);
}

.sidebar-nav ul li button:focus {
    outline: none;
    color: #f39c12;
    text-decoration: none;
}

.sidebar-nav ul li a {
    color: #ecf0f1;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 8px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-nav ul li a:hover {
    background-color: #16a085;
    color: white;
}

.btn-link {
    background-color: transparent;
    font-size: 16px;
    text-decoration: none !important;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    transition: color 0.3s ease;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link:visited {
    text-decoration: none !important;
    outline: none;
}


